body {
  background-color: #d6d4d4;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: fit-content;
  margin: auto;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 350px;
}

.card-content {
  padding: 8px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: rgb(100, 95, 104);
  font-size: 15px;
  line-height: 1.3;
  margin: 0 0 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content .btn {
  display: block;
  width: fit-content;
  padding: 8px 16px;
  background-color: rgb(148, 148, 150);
  text-decoration: none;
  margin: 10px 0px 0px 200px;
  color: rgb(251, 253, 254);
  border-radius: 8px;
}
